#title{
    font-size: 2em;
}

#card
{
    width: 180px;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

#card >img{width: 100%;}

.card-container{    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}